<div>
    <div *ngIf="isUserLoggedIn; else isLogOut">
        <a class="nav-link" (click)="logout()"><button class="btn btn-danger">Logout</button></a>
  </div>

  <ng-template #isLogOut>
              <a class="nav-link" routerLink="/login">Login</a>
  </ng-template>
</div>
<div class="container my-5">
    <div class="d-flex">
        <h1>Product Details</h1>
        <div class="my-3">
            <button class="btn btn-outline-primary add-button" routerLink="/addproduct" >Add Product</button>
        </div>
    </div>
    <div>
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Descriptio</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products;let i=index">
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.description}}</td>
                    <td><i class="fa fa-pencil-square-o mx-3" [routerLink]="['/editproduct',item.id]" aria-hidden="true"></i><i class="fa fa-trash text-danger" (click)="ondelte(i)" aria-hidden="true"></i></td>
                </tr>
                <!-- <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>